.el-container.layout{
	min-height: 100vh;
}
.el-container.is-vertical{
	height: 100vh;
    overflow: auto;
    margin: auto 10%
}
.el-header {
    height: 70px !important;
    header {
        .header-logo {
            line-height: 70px;
            background-color: black;
            float: left;
            img {
                width: 100px;
                height: 70px;
                vertical-align: top;
                cursor: pointer;
            }
        }
        .el-menu {
            background-color: $bg-color;
            margin-left: 100px;
            border: none;
            .el-menu-item {
                height: 70px;
                line-height: 70px;
                font-size: 16px;
                text-align: center;
                margin-left: 30px;
            }
            .avatar-icon {
                position: absolute;
                top: 15px;
                right: 30px;
                .exit {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    color: brown;
                    position: absolute;
                    right: 45px;
                    top: 12px;
                    cursor: pointer;
                }
            }
        }
    }
    
}
.el-main {
    padding: 10px 20px;
    .main-content {
        .title {
            margin: 15px 0;
        }
        // 主页轮播图
        .content-carousel {
            .el-carousel__item h3 {
                color: #475669;
                font-size: 18px;
                opacity: 0.75;
                line-height: 400px;
                margin: 0;
            }
            .el-carousel__item:nth-child(2n) {
                background-color: #99a9bf;
            }
            .el-carousel__item:nth-child(2n + 1) {
                background-color: #d3dce6;
            }
        }
        .content-recommend {

        }
    }
}
.el-footer {

}